


.home-heading{
    margin: 0 auto;
    margin-top: 20%;
    padding-bottom: 20px;
}

.home-heading3{
    padding-bottom: 20px;
}
.home-heading-desc{
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    width: 0;
    font-size: 2rem;
    font-family: monospace;
    margin-left: 10%;
   
}